services:
  nginx-gateway:
    build: ./nginx-gateway
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - banhang-network

  backend:
    build: ./BE
    # Ports removed to hide from host. accessible only via network.
    expose:
      - "8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${DB_NAME}?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db
    networks:
      - banhang-network

  frontend:
    build: ./FE
    # Ports removed to hide from host. accessible only via network.
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - banhang-network

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - banhang-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - banhang-network

  grafana:
    image: grafana/grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    networks:
      - banhang-network

networks:
  banhang-network:
    driver: bridge

volumes:
  db_data:
